.rentalContainer, .saleContainer {
  border: 3px solid red;
  margin: 10px;
}

.container-fluid {
  z-index: -1;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
    float: left;
}

li p {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li p:hover {
    background-color: #111;
}

.modal {
  width: 70%;
  margin:0 auto;
  padding:10%;
}

#formItem {
  margin: 2% 5% 5% 5%;
}
